* text=auto
*.scn text eol=lf diff=json
*.cpp text eol=lf
*.hpp text eol=lf
*.json text eol=lf
*.md text eol=lf
CMakeLists.txt text eol=lf

# Binary
*.obj binary
*.stl binary
*.pdf binary
*.png binary
*.jpg binary
